body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0 0 0;
}

h1 {
    margin: 0;
}

#body-text {
    text-align: left;
    width: 50%;
    margin-top: 100px;
}

#body-picture{
    margin-top: 150px;

}

#main {
    width: 100%;
}

#header-navigation{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 80%;
        margin: auto;
    }

.header-navigation-item {
    list-style-type: none;
    float: left;
    width: 150px;
    padding: 3px;
    margin-right: 20px;
    text-align: center;
    background-color: #b6e704;
    color: #ffffff;
}    

#profilpicture{
    width: 100%;
}

#lebenslauf-text{
    text-align: center;
    margin-top: 20px;
    width: 70%;

}
#footerlist{
    list-style-type: none;
}

#flex-container {
    display: flex;
    
  }